<div class="card" *ngFor="let carImage of carImages">
  <img
    src="{{ imageUrl }}{{ carImage.imagePath }}"
    class="img-thumbnail"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ carDetails[0]?.brandName }}
    </h5>
    <p class="card-text">RentalCars ayrıcalığı ile kiralayın!</p>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <h4 class="card-title" style="text-align: center">Marka</h4>
          <p class="card-text" style="text-align: center">
            {{ carDetails[0]?.brandName }}
          </p>
        </div>
        <div class="col-sm-2">
          <h4 class="card-title" style="text-align: center">Model</h4>
          <p class="card-text" style="text-align: center">
            {{ carDetails[0]?.modelYear }}
          </p>
        </div>
        <div class="col-sm-2">
          <h4 class="card-title" style="text-align: center">Araç Rengi</h4>
          <p class="card-text" style="text-align: center">
            {{ carDetails[0]?.colorName }}
          </p>
        </div>
        <div class="col-sm-2">
          <h4 class="card-title" style="text-align: center">Model Yılı</h4>
          <p class="card-text" style="text-align: center">
            {{ carDetails[0]?.modelYear }}
          </p>
        </div>
        <div class="col-sm-2">
          <h4 class="card-title" style="text-align: center">Günlük Fiyat</h4>
          <p class="card-text" style="text-align: center">
            {{ carDetails[0]?.dailyPrice }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-success" type="button">Kirala</button>
  </div>
</div>
