<div>
  <div class="col-md-9 py-3">
    <div style="margin-left: 150px" class="container row">
      <div class="col-md-4" *ngFor="let car of cars">
        <div
          routerLink="/cars/details/{{ car.carId }}"
          class="card mb-5 box-shadow"
        >
          <img
            class="rounded mx-auto d-block"
            data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
            alt="Card image cap"
          />
          <div class="card-body">
            <hr class="mt-5 mx-5" />
            <h4 class="text-center">{{ car.description }}</h4>
            <div class="d-flex flex-row justify-content-between p-3">
              <div class="d-flex flex-column">
                <h6 class="text-muted">Model Year</h6>
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <h4 class="text-left">{{ car.modelYear }}</h4>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <h6 class="text-muted">Daily Price</h6>
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <h4 class="text-right">{{ car.dailyPrice }}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-success">View</button>
              <button type="button" class="btn btn-danger">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
